:root {
  --button-height-small: 30px;
  --button-width-small: auto;
  --button-height-medium: 36px;
  --button-width-medium: auto;
  --button-height-large: 42px;
  --button-width-large: auto;
}

.button {
  background-color: var(--primary);
  color: var(--white);
  transition: 0.3s;
  cursor: pointer;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  vertical-align: middle;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  padding: 4px 10px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;

  @each $size in small, medium, large {
    &.button--#{$size} {
      height: var(--button-height-#{$size});
      width: var(--button-width-#{$size});
    }
  }

  &:not(.button--disabled) {
    &:hover {
      background-color: var(--primary-dark);
    }
  }

  &--full-width {
    width: 100% !important;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.75;
  }
}
