@import "./reset.scss";

:root {
  --primary: #0360a5;
  --primary-dark: #024373;
  --secondary: #888888;
  --white: #ffffff;
}

#relist-container {
  position: fixed;
  height: auto;
  bottom: 10%;
  width: 320px;
  z-index: 100;
  right: 0;
  padding: 16px;
}

.border-radius-50 {
  border-radius: 50%;
}
